<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<h4>Curso de SpringBoot + Thymeleaf + Material Design Lite</h4>
	<h5>Cadastro de Telefones</h5>
	
	<br/>
		<div th:each = "m : ${msg}">
			<span th:text="${m}"></span>
		</div>
	<br/>
	
	<a class="waves-effect waves-light btn" href="/cadastropessoa">Cad. Pessoa
		 <i class="material-icons left">arrow_back</i>
	</a>
	
	<div th:each=" p : ${pessoaobj}">
		<div class="row">
			<p>ID: <span th:text="${p.id}"></span> </p>
			<p>NOME: <span th:text="${p.nome}"></span> </p>
			<p>SOBRENOME: <span th:text="${p.sobrenome}"></span> </p>
			<p>IDADE: <span th:text="${p.idade}"></span> </p>
		</div>
	</div>
	
	<h5>Telefones</h5>
	<div class="row">
		<form th:action="@{/addfonepessoa/{pessoaid}(pessoaid=${pessoaobj.id})}" method="POST" class="col s12" onsubmit="return validarCampos() ? true : false">
 			<div class="row">
		        <div class="input-field col s6">	
		           <i class="material-icons prefix">phone</i>
		          <input id="numero" name="numero" type="text" class="validate">
		          <label for="numero">Número do Telefone</label>
		        </div>
		        
		        <div class="input-field col s6">		        	
		          <input id="tipo" name="tipo" type="text" class="validate">
		          <label for="tipo">Tipo</label>
		        </div>
        		<button class="btn waves-effect waves-light" type="submit" name="action">Adicionar
				  <i class="material-icons right">save</i>
				</button>
    		</div>
		</form>
	</div>
	
	<table class="striped">
	<thead>
		<tr>
			<td>ID</td>
			<td>Número telefone</td>
			<td>Tipo</td>
			<td>Ações</td>
		</tr>
	</thead>
		<tr th:each = "fone : ${telefones}">
			<td th:text = "${fone.id}"></td>
			<td th:text = "${fone.numero}"></td>
			<td th:text = "${fone.tipo}"></td>
			<td>
				<a class="red-text text-darken-1" th:href="@{/removertelefone/{idtelefone}(idtelefone=${fone.id})}"><i class="material-icons left">delete</i></a>
			</td>
		</tr>
	</table>
	       
</div>
	 <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	 <script type="text/javascript">
	 	function validarCampos(){
	 		numero = document.getElementById('numero').value;
	 		tipo = document.getElementById('tipo').value;
	 		
	 		if(numero === ''){
	 		    alert('Número deve ser informado');
	 		    return false;
	 		
	 		}else if(tipo === ''){
	 			alert('Tipo deve ser informado')
	 			return false;
	 		}	 		
	 		return true;
	 	}
	 </script>
</body>
</html>