<!DOCTYPE html>
<html xmlns="http://www.w3.org/199/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
<meta charset="UTF-8"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>Insert title here</title>
</head>
<body>
<div class="container">
	<h1 class="teal-text text-darken-1 center">Acesso ao sistema</h1>
	
	<div id="login-page" class="row">
    <div class="col s12 z-depth-6 card-panel">
      <form th:action="@{/login}" method="POST" class="login-form">
        <div class="row">
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">person_outline</i>
            <input class="validate" id="username" type="text">
            <label for="username" data-error="wrong" data-success="right">Login</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock_outline</i>
            <input id="password" type="password">
            <label for="password">Senha</label>
          </div>
        </div>
        
        <div class="row">
          <div class="input-field col s12">
          	<button type="submit" class="waves-effect waves-light btn right">Login
				<i class="material-icons left">login</i>
			</button>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6">
            <p class="margin medium-small"><a href="#">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6">
              <p class="margin right-align medium-small"><a href="#">Forgot password?</a></p>
          </div>          
        </div>

      </form>
    </div>
  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>